<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monster Hunter</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <section id="combatants">
            <div id="player">
                <h1>YOU</h1>
                <div id="hp-container">
                    <div id="hp-value">{{ player.hp }}</div>
                    <div id="hp" :style="{width: player.hp + '%'}"></div>
                </div>
            </div>

            <div id="monster">
                <h1>MONSTER</h1>
                <div id="hp-container">
                    <div id="hp-value">{{ monster.hp }}</div>
                    <div id="hp" :style="{width: monster.hp + '%'}"></div>
                </div>
            </div>
        </section>

        <section id="player-options" class="block">
            <button id="start-game" v-if="!gameIsRunning" @click="startGame">
                START NEW GAME
            </button>
            <template v-if="gameIsRunning">
                <button id="atk-btn" :disabled="disableOptions" @click="playerAct('attack')">ATTACK</button>
                <button id="s-atk-btn" :disabled="disableOptions" @click="playerAct('specialAttack')">SPECIAL ATTACK</button>
                <button id="heal-btn" :disabled="disableOptions" @click="playerAct('heal')">HEAL</button>
                <button id="givUp-btn" :disabled="disableOptions" @click="giveUp">GIVE UP</button>
            </template>
        </section>

        <section id="turns-log" class="block" v-if="gameIsRunning && turns.length > 0">
            <template v-for="turn in turns">
                <div class="turns-log__text" :class="{blue: turn.isPlayer, red: !turn.isPlayer}">
                    {{ turn.text }}
                </div>
            </template>
        </section>
    </div>

    <script src="main.js"></script>
</body>
</html>